*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tooltip {
    position: absolute;
    opacity: 0;
    padding: 10px;
    font: 12px sans-serif;
    background: red;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }